<nav class="navigation">
  <a href="#services" class="navigation__link">Наши услуги</a>
  <a href="#exams" class="navigation__link">Подготовка к экзаменам</a>
  <a href="#proforientation" class="navigation__link">Профориентация</a>
  <a href="#about" class="navigation__link">О нас</a>
</nav>