
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Regular'),
               url('../assets/fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Bold'),
               url('../assets/fonts/gilroy/Gilroy-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
