@font-face {
  font-family: 'Icons';
  src:         url('../assets/fonts/icons/icons.woff2') format('woff2'),
               url('../assets/fonts/icons/icons.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}

[class^="i-"]::before,
[class*="i-"]::before {
  display:                 inline-block;
  font-family:             'Icons';
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style:              normal;
  font-weight:             normal;
  text-align:              center;
  text-decoration:         inherit;
  text-transform:          none;
}

// @formatter:off
.i-menu:before {content: "\F0C9";}
.i-pagination-left:before {content: "\F104";}
.i-pagination-right:before {content: "\F105";}
.i-arrow-left:before {content: "\E800";}
.i-arrow-right:before {content: "\E801";}
.i-inst:before {content: "\E802";}
.i-vk:before {content: "\E803";}
.i-zoom:before {content: "\E804";}
// @formatter:on