// Размеры экрана
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1280px;

// Переходы
$transition-normal: .25s;
$transition-medium: .15s;
$transition-fast: .1s;
$transition-slow: .3s;

$font-family-default: 'Gilroy', 'Arial', 'Helvetica', sans-serif;

$color-text-default: black;
$color-text-light: #8d8d8d;
$color-text-dark: #3A3A3A;
$color-text-link: #366DBF;

$color-accent-1: #1b1b1b;
$color-accent-2: #333333;
$color-accent-3: #515047;

$color-background-gray: #F0F0F0;
$color-background-blue: #366DBF;

$color-menu-hover: #ab984e;
$color-menu-category: #0a0a0a;
$color-menu-text-hover: #cdcdcd;
$color-menu-text: #8a8a8a;

$color-border-dark: #9c9c9c;
$color-border-gray: #d9d9d9;
$color-border-medium: #bababa;
$color-border-light: #e7e8e9;

$font-weight-medium: 600;