.about {

  &__item {
    box-sizing: border-box;

    &.mod-right {
      @include display-flex(row-reverse);
      background: transparent;
      padding:    42px 60px 42px 0;
    }

    &.mod-left {
      @include display-flex(row);
      background: white;
      padding:    42px 0 42px 60px;
    }
  }

  &__img {
    max-height: 350px;
    width:      auto;
    height:     auto;
    max-width:  500px;
    object-fit: cover;
  }

  &__desc {
    @include font-size(16px, normal, 26px);
    max-width: 500px;
    margin:    auto;
  }

  &__desc-text {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}