.about {
  overflow-x: hidden;

  &__item {
    box-sizing: border-box;
    @include display-flex(row, center, space-around);

    @include w-to($screen-md) {
      @include display-flex(column, center);
    }

    &.mod-right {
      flex-direction: row-reverse;
      background:     transparent;
      padding:        42px 60px 42px 0;

      @include w-to($screen-lg) {
        padding: 32px 24px;
      }

      @include w-to($screen-md) {
        flex-direction: column;
      }
    }

    &.mod-left {
      background: white;
      padding:    42px 0 42px 60px;

      @include w-to($screen-lg) {
        padding: 32px 24px;
      }
    }
  }

  &__img {
    max-height: 350px;
    width:      auto;
    height:     auto;
    max-width:  500px;
    object-fit: cover;

    @include w-to($screen-lg) {
      max-width: 280px;
    }
    @include w-to($screen-md) {
      width:         100%;
      max-width:     500px;
      margin-bottom: 24px;
    }

    &.mod-right {
      @include w-to($screen-lg) {
        margin-left: 24px;
      }
      @include w-to($screen-md) {
        margin-left: 0;
      }
    }

    &.mod-left {
      @include w-to($screen-lg) {
        margin-right: 24px;
      }
      @include w-to($screen-md) {
        margin-right: 0;
      }
    }
  }

  &__desc {
    @include font-size(16px, normal, 26px);
    max-width: 500px;
  }

  &__desc-text {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}