<!doctype html>
<html lang="ru">
{% include "../parts/meta.twig" %}
<body>

{# Основная часть страницы #}
<main class="container">
  {% block body %}{% endblock %}
</main>

{#{% block footer %}
  {% include '../../blocks/footer/footer.twig' %}
{% endblock %}#}

{# Скрипты #}
{% block scripts %}
  {% include '../parts/scripts.twig' %}
{% endblock %}

</body>
</html>