<section class="general" id="general">
  <h1 class="general__title">Центр профориентации</h1>
  <img src="assets/img/index.jpg" alt="Центр профориентации" class="general__background rellax">
  <a class="general__forward js-forward">→</a>
  {% include '../navigation/navigation.twig' %}
</section>