@import 'vendor/**/*.scss';
//
@import 'parts/fonts.scss';
@import 'parts/vars.scss';
@import 'parts/mixins.scss';
//
@import 'parts/icons.scss';
@import 'parts/reset.scss';
@import 'parts/services.scss';
//
@import '../blocks/**/*.scss';

body {
  font-family:         $font-family-default;
  color:               $color-text-default;
  font-size:           16px;
  background:          white;
  display:             grid;
  grid-template:       auto 325px/1fr;
  grid-template-areas: 'main' 'footer';
  overflow-x:          hidden;
}

.container {
  grid-area: main;
}
