.footer {
  grid-area:  footer;
  width:      100%;
  background: $color-background-blue;

  &__container {
    @include font-size(18px, normal, 31px);
    @include display-flex($justify: space-between);
    padding:    46px 120px 72px;
    position:   relative;
    box-sizing: border-box;
    color:      white;

    @include w-to($screen-lg) {
      max-width: 820px;
      padding:   46px 94px 72px;
    }

    @include w-to($screen-md) {
      @include font-size(16px, normal, 28px);
      @include display-flex(column, center);
      padding: 46px 40px;
    }
  }

  &__menu {
    @include display-flex(column);
    flex-wrap: wrap;
    height:    120px;

    @include w-to($screen-lg) {
      height: auto;
    }

    @include w-to($screen-md) {
      align-items: center;
    }
  }

  &__link {
    flex-shrink: 0;
    min-width:   322px;

    @include w-to($screen-lg) {
      min-width: auto;
    }

    &:hover {
      color: $color-link-hover;
    }
  }

  &__contacts {
    @include display-flex(column);

    @include w-to($screen-md) {
      align-items: center;
      margin: 24px 0;
    }
  }

  &__social {
    @include display-flex();
    position: absolute;
    bottom:   46px;
    right:    120px;

    @include w-to($screen-lg) {
      right: 94px;
    }

    @include w-to($screen-md) {
      position:   static;
      align-self: center;
    }
  }

  &__social-link {
    width:         40px;
    height:        40px;
    margin-right:  8px;
    border-radius: 50%;
    box-shadow:    1px 1px 1px rgba(black, 0.15);
    opacity:       1;

    &:last-child {
      margin-right: 0;
    }

    & img {
      height:     100%;
      object-fit: cover;
    }

    &:hover {
      opacity:   .85;
      transform: scale(1.1);
    }
  }

  &__info {
    width:      100%;
    background: $color-background-gray;
    text-align: center;
    padding:    19px 0;
    box-sizing: border-box;

    @include w-to($screen-md) {
      @include font-size(14px, normal, 20px);
    }
  }
}