<footer class="footer">
  <div class="footer__container">
    <nav class="footer__menu">
      <a href="#general" class="footer__link">Главный экран</a>
      <a href="#services" class="footer__link">Наши услуги</a>
      <a href="#exams" class="footer__link">Подготовка к экзаменам</a>
      <a href="#proforientation" class="footer__link">Профориентация</a>
      <a href="#about" class="footer__link">О нас</a>
    </nav>
    <div class="footer__contacts">
      <p class="footer__address">г. Архангельск, ул Советская 184</p>
      <a href="tel:+71826320012" class="footer__phone">+7 (182) 632-00-12</a>
      <a href="tel:+79539123432" class="footer__phone">+7 (953) 912-34-32</a>
    </div>
    <div class="footer__social">
      <a href="#" class="footer__social-link"><img src="assets/img/icons/vk.svg" alt="ВКонтакте"></a>
      <a href="#" class="footer__social-link"><img src="assets/img/icons/fb.svg" alt="Facebook"></a>
      <a href="#" class="footer__social-link"><img src="assets/img/icons/yt.svg" alt="YouTube"></a>
      <a href="#" class="footer__social-link"><img src="assets/img/icons/in.svg" alt="Instagramm"></a>
    </div>
  </div>
  <p class="footer__info">Вся информация на сайте является вымышленной, все совпадения с рельными данными случаны. Сайт
    сделан для конкурса в рамках фестиваля IT-Архангельск</p>
</footer>