.proforientation-image {
  width:    100%;
  height:   320px;
  position: relative;

  @include w-to($screen-md) {
    height: 220px;
  }

  &:after {
    content:    "";
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
    background: rgba(black, 0.2);
    z-index:    1;
  }

  &__img {
    width:      100%;
    height:     100%;
    object-fit: cover;
  }
}

.proforientation {

  &__info {
    display:       grid;
    grid-template: 1fr/ repeat(3, 1fr);
    grid-gap:      24px;

    @include w-to($screen-md) {
      grid-template: repeat(3, 1fr)/ 1fr;
      grid-gap:      32px;
    }
  }

  &__item {
    @include display-flex(column);
    @include font-size(18px, normal, 26px);
    position:      relative;
    width:         100%;
    box-shadow:    0 4px 10px rgba(black, .25);
    border-radius: 2px;
    transition:    all $transition-slow;

    @include w-to($screen-lg) {
      @include font-size(16px, normal, 22px);
    }
  }

  &__img {
    width:      100%;
    height:     262px;
    object-fit: cover;

    @include w-to($screen-lg) {
      height: 200px;
    }
  }

  &__item-container {
    padding:    24px 16px;
    box-sizing: border-box;
  }

  &__title {
    @include font-size(24px, normal, 29px);
    width:          100%;
    font-weight:    bold;
    text-align:     center;
    padding-bottom: 24px;
    border-bottom:  thin solid $color-border-gray;

    @include w-to($screen-lg) {
      @include font-size(22px, normal, 26px);
    }
  }

  &__list {
    margin-top:    36px;
    margin-bottom: 100px;
  }

  &__list-item {
    padding-left: 20px;
    position:     relative;

    &:before {
      content:  "-";
      position: absolute;
      left:     0;
    }
  }

  &__audience {
    width:      100%;
    height:     64px;
    position:   absolute;
    bottom:     0;
    padding:    19px 0;
    box-sizing: border-box;
    text-align: center;
    background: $color-background-gray;
    color:      $color-text-dark;

    @include w-to($screen-lg) {
      @include font-size(14px, normal, 18px);
      height: 54px;
    }
  }

}