{% set servicesItems = [
  {
    title: "Профориантация",
    desc: "Современные методы тестирования и&nbsp;определения будующей профессии",
    img: "assets/img/services/proforientation.png"
  },
  {
    title: "Тестирование",
    desc: "Помощь в&nbsp;организации, предоставление оборудования и&nbsp;помещений для проведения тестирования",
    img: "assets/img/services/tests.png"
  },
  {
    title: "Вебинары и&nbsp;курсы",
    desc: "Проведения курсов для школьников и&nbsp;взрослых: обзор различных профессий, открытие своего дела",
    img: "assets/img/services/courses.png"
  },
  {
    title: "Лекции",
    desc: "Выездные лекции для школьников и&nbsp;студентов",
    img: "assets/img/services/lectures.png"
  },
  {
    title: "Экскурсии для школьников",
    desc: "Организация экскурсий на&nbsp;предприятиях города: рассказ работников об&nbsp;их&nbsp;профессиях",
    img: "assets/img/services/excursions.png"
  },
  {
    title: "Подготовка к&nbsp;ЕГЭ и&nbsp;ОГЭ",
    desc: "Индивидуальные и&nbsp;групповые занятия по&nbsp;подготовке к&nbsp;сдаче ЕГЭ и&nbsp;ОГЭ",
    img: "assets/img/services/exams.png"
  },
  {
    title: "Курсы повышения квалификации",
    desc: "Для педагогов и&nbsp;работников образовательных учереждений",
    img: "assets/img/services/skills.png"
  },
  {
    title: "Подготовка документов",
    desc: "Помощь в&nbsp;подготовке документов для поступления в&nbsp;российские и&nbsp;зарубежные ВУЗы",
    img: "assets/img/services/documents.png"
  }
] %}

<section class="services" id="services">
  <h2 class="title">Наши услуги</h2>
  <div class="wrapper services__container">
    {% for item in servicesItems %}
      <article class="services__item">
        <figure class="services__image">
          <img src="{{ item.img }}" alt="{{ item.title }}" class="services__img">
        </figure>
        <div class="services__text-container">
          <p class="services__title">{{ item.title }}</p>
          <p class="services__desc">{{ item.desc }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</section>