.services {

  &__container {
    display:       grid;
    grid-template: auto/1fr 1fr;
    grid-gap:      50px 60px;

    @include w-to($screen-lg) {
      grid-gap: 38px 24px;
    }

    @include w-to($screen-md) {
      grid-template: auto/1fr;
      grid-gap:      42px;
    }
  }

  &__item {
    @include display-flex();
    width: 100%;
  }

  &__text-container {
    margin-top:  32px;
    margin-left: 32px;

    @include w-to($screen-lg) {
      margin-top:  12px;
      margin-left: 18px;
    }

    @include w-to($screen-md) {
      margin: auto 0 auto 18px;
    }
  }

  &__image {
    @include aspect-ratio(1, 1);
    width:         30%;
    margin:        auto 0;
    border-radius: 50%;
    overflow:      hidden;
    flex-shrink:   0;
  }

  &__img {
    width:      100%;
    object-fit: cover;
  }

  &__title {
    @include font-size(24px, normal, 28px);
    margin-bottom: 14px;

    @include w-to($screen-lg) {
      @include font-size(20px, normal, 20px);
      margin-bottom: 6px;
    }
  }

  &__desc {
    @include w-to($screen-lg) {
      @include font-size(14px, normal, 16px);
    }
  }
}