<div class="prof-introduction">
  <article class="prof-introduction__item">
    <img src="assets/img/profotientation/tests.jpg" alt="Тестирование" class="prof-introduction__img">
    <p class="prof-introduction__text">С&nbsp;помощью современных методик тестирования мы&nbsp;поможем
      Вам
      выбрать нужное направление и&nbsp;определиться с&nbsp;будущей профессией. Предлагаем различные тестирования,
      опросники и&nbsp;анлаз ваших ответов на&nbsp;вопросы, которые помогут узнать Вас</p>
  </article>
  <article class="prof-introduction__item mod-right">
    <p class="prof-introduction__desc">Тестирование проходит в уютной и комфортной обстановке, так что
      ничто не помешает вам сосредоточиться. Также мы
      предоставляем услугу в организации прохождения тестирования: предоставим Вам все необходимое оборудование и
      комфортные помещения</p>
    <img src="assets/img/profotientation/pencil.svg" alt="Карандаш" class="prof-introduction__icon">
  </article>
</div>