<div class="prof-introduction">
  <article class="prof-introduction__item">
    <img data-src="assets/img/profotientation/tests.jpg" alt="Тестирование" class="prof-introduction__img">
    <p class="prof-introduction__text">С&nbsp;помощью современных методик тестирования мы&nbsp;поможем
      вам
      выбрать нужное направление и&nbsp;определиться с&nbsp;будущей профессией. Предлагаем различные тесты,
      опросники и&nbsp;анализ ваших ответов на&nbsp;вопросы, которые помогут узнать вас</p>
  </article>
  <article class="prof-introduction__item mod-right">
    <p class="prof-introduction__desc">Тестирование проходит в уютной и комфортной обстановке, так что
      ничто не помешает вам сосредоточиться. Также мы
      предоставляем услугу организации прохождения тестирования: предоставим вам все необходимое оборудование и
      удобные помещения</p>
    <img data-src="assets/img/profotientation/pencil.svg" alt="Карандаш" class="prof-introduction__icon">
  </article>
</div>