<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Центр профориентации</title>
  <meta name="description" content="Центр профориентации, оказывающий услуги по развитию своих навыков или поиску своей профессии">
  <meta name="keywords" content="Профориентация, курсы, лекции, вебинары, ЕГЭ, ОГЭ, квалификация, развитие, тестирование">

  <meta name="theme-color" content="#464646">

  <link rel="icon" type="image/png" href="assets/favicon/favicon.png" sizes="64x64">

  <link rel="preload" href="assets/fonts/gilroy/Gilroy-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>
