<section class="exams main-wrapper" id="exams">
  {% include '../navigation/navigation.twig' %}
  <h2 class="title">Подготовка к&nbsp;экзаменам</h2>
  <div class="wrapper exams__container" id="vue-exam">
    <article class="exams__item" v-for="item in compShowItems" data-aos="fade-up">
      <figure class="exams__image" :style="{'background-color': item.color}">
        <img :src="item.icon" :alt="item.title" class="exams__img">
      </figure>
      <div class="exams__text-container">
        <p class="exams__title" v-html="item.title"></p>
        <p class="exams__description" v-html="item.description"></p>
      </div>
      <p class="exams__tags">
        <template v-for="tag,key in item.tags">
          <span class="exams__tag-container">
          <button
            class="exams__tag-btn"
            type="button"
            @click="sortExam(tag.id)"
          >${tag.title}</button><template v-if="key<item.tags.length-1">,  </template>
        </span>
        </template>
      </p>
    </article>
    <button class="btn__throw" type="button" @click="count=3; sortExam(undefined)" v-if="sort">Сбросить фильтр</button>
    {% include '../preloader/preloader.twig'  %}
    <button class="btn__more" type="button" @click="setCount" v-if="count<compFilterItems.length">Больше курсов</button>
  </div>
</section>